@page "/"

<PageTitle>Home</PageTitle>

<div id="map"></div>

<style>
    #map {
        height: 400px;
        width: 50%;
    }
</style>

<script>
    var map = L.map('map').setView([3.167240, 101.541934], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker = L.marker([3.167240, 101.541934]).addTo(map);

    var circle = L.circle([3.167240, 101.541934], {
        color: 'green',
        fillColor: '#f03',
        fillOpacity: 0.2,
        radius: 300
    }).addTo(map);
    
</script>
